body 
    {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
 
    }

#topbar
    {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 5px 10px lightgray;s
    }

.logo
    {
    height: 30px;
    margin-left: 50px;
    }

.topbar {
    display: flex;
    margin-right: 90px;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
}

button {
    color: white;
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    }

input {
    border-radius: 30px;
    height: 25px;
}

#box {
        height: 500%;
        width: 100%;
        display: flex;    
}

.main {
    width: 70%;
    border-right:gray solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    
    padding-top: 60px;
    height: 500%;
}



.following  {
    font-weight: bold;
    color: gray;
    margin-left: 4px;
    margin-right: 40px;
}

.recommended {
    font-weight: bold;
}

.topmenu {
    display: flex;
    border-bottom:rgb(179, 179, 179) solid 1px;
    margin-left: 60px;
    width: 88%;
}

.logo2 {
    height: 30px;
    width: auto;
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 4px;
    margin-right: 20px;
}

.container {
    display: flex;
    height: 100px;
    width: 100%;
}

span {
    color: grey;
    margin: 5px;
}

.text1 {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 27px;
}

.text2 {
    margin-left: 60px;
    margin-top: -18px;
    font
}

.text3 {
    color: gray;
    width: 81%;
    margin-left: 60px;
    margin-top: -11px;
    margin-right: 113px;
}

.text4 {
    margin-left: 60px;
    font-size: 12px;
}
#react {
    width: 46px;
    background-color: #dfdfdf;
    border: none;
    border-radius: 44px;
    height: 18px;
}

.foto1 {
    height: 170px;
    width: auto;
    margin-right: 45px;
    margin-top: -41px;
}
.container2 {
    display: flex;
}
.icon {
    margin-left: 104px;
    color: black;
}
.sidebar {
    width: 30%;
    margin-left: 40px;
}
#sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: rgb(222, 222, 222) solid 1px;
    width: 90%;   
}
.threeicon {
    width: 100px;
    padding-top: 50px;
    padding-bottom: 0px ;
}
.text5 {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
    text-align: center;
}
.Connect {
    background-color: white;
    border: solid 1px lightgray;
    width: 150px;
    border-radius: 30px;
    color: black;
    font-size: 80%;
    display: flex;
    align-items: center;
}
.twitter {
    width: 20px;
}

#maybe {
    padding: 30px;
    text-decoration: underline;
    font-size: 15px;
}

#topics {
   margin-top: 50px;
}

.buttonSection {
    background-color: lightgray;
    color: black;
    width: auto;
    border-radius: 30px;
    padding: 8px;
    margin-top: 10px;  
  }

.content {
    margin-top: 40px;
    margin-bottom: 40px;
}
.follow {
    display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: space-around;
        margin-left: -14px;
}

#button {
    background-color: white;
    border: black 1px solid;
    color: black;
    width: auto;
    border-radius: 30px;
}
